@model TestApp.Models.Cities

@{
    ViewData["Title"] = "CitiesAdd";
}

<form asp-action="CitiesAdd" asp-controller="Home" enctype="multipart/form-data" method="post">

    <div class="form-group">
        <label asp-for="NameCity" class="control-label">Город</label>
        <input type="text" asp-for="NameCity" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" style="background-color: #66a5ad !important; color: white" value="Отправить" class="btn btn-default" />
    </div>
</form>
