@model TestApp.Models.Countries

@{
    ViewData["Title"] = "CountriesEdit";
}

<form asp-action="CountriesEdit" asp-controller="Home" enctype="multipart/form-data" method="post">

    <div class="form-group">
        <input type="text" name="Id" asp-for="Id" class="form-control" readonly />

        <label asp-for="CountryName" class="control-label">Страна</label>
        <input type="text" asp-for="CountryName" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" style="background-color: #66a5ad !important; color: white" value="Отправить" class="btn btn-default" />
    </div>
</form>
